.web-screen-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.symbols {
  position: absolute;
  height: 96.97%;
  width: 99.82%;
  top: 1.59%;
  right: 0.18%;
  bottom: 1.44%;
  left: 0;
}
.fickleflight-logo1 {
  width: 10.88rem;
  height: 2.06rem;
  overflow: hidden;
}
.explore1,
.fickleflight-logo1,
.hotels1,
.offers1 {
  position: relative;
  cursor: pointer;
}
.hotels1,
.offers1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-200);
  text-align: left;
  display: inline-block;
}
.offers1 {
  color: var(--color-darkslategray-200);
}
.navigation-menu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-5xl);
}
.hamburger-menu-icon1 {
  display: none;
}
.hamburger-menu-icon1,
.notification-bell-icon1 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.unsplashd1upkifd04a-icon1 {
  border-radius: var(--br-3xl);
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
}
.account-section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.navigation-right1 {
  justify-content: flex-end;
  gap: var(--gap-7xl);
}
.navigation-right1,
.top-container1,
.top-header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-container1 {
  flex: 1;
  justify-content: space-between;
}
.top-header1 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 4.81rem;
  padding: var(--padding-sm) var(--padding-7xl);
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-200);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1200px) {
  .top-header1 {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .navigation-menu1 {
    display: none;
  }
  .hamburger-menu-icon1 {
    display: flex;
  }
  .top-header1 {
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .navigation-right1 {
    display: flex;
  }
}
