.recommended-holidays {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.view-all-holidays {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-300);
  text-align: right;
  display: inline-block;
  width: 10.37rem;
  flex-shrink: 0;
}
.arrow-right-icon2 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.view-all-holidays-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  border-radius: var(--br-2xl);
  width: 12.49rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rec-cards-container,
.rec-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rec-cards-container {
  align-items: flex-start;
  margin-left: -1rem;
  margin-right: -1rem;
}
.view-all-holidays1 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 10.37rem;
  flex-shrink: 0;
}
.view-all-bottom1 {
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  width: 12.49rem;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: right;
  font-size: var(--font-size-lg);
  color: var(--color-cornflowerblue-300);
}
.recommended-holidays-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-300);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1100px) {
  .view-all-holidays-parent {
    display: none;
  }
  .rec-cards-container {
    margin-left: -1rem;
    margin-right: -1rem;
    flex-wrap: wrap;
  }
  .view-all-holidays1 {
    width: auto;
  }
  .view-all-bottom1 {
    display: flex;
    mrgin-top: 16px;
  }
}
@media screen and (max-width: 650px) {
  .recommended-holidays {
    font-size: var(--font-size-3xl);
  }
}
