.results-image-icon1 {
  position: relative;
  border-radius: var(--br-sm) 0 0 var(--br-sm);
  width: 16.25rem;
  height: 13.75rem;
  object-fit: cover;
}
.bed-in-quad,
.freehand-los-angeles {
  position: absolute;
  left: 0;
  display: inline-block;
}
.freehand-los-angeles {
  top: 1.56rem;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.04em;
  text-transform: capitalize;
  width: 17.12rem;
}
.bed-in-quad {
  top: 0;
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
  width: 10.8rem;
}
.reviews1 {
  left: 4rem;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 8.67rem;
}
.div1,
.reviews1,
.vector-icon1 {
  position: absolute;
  top: 0;
}
.div1 {
  left: 1.62rem;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 1.76rem;
}
.vector-icon1 {
  height: 84.21%;
  width: 34.78%;
  right: 65.22%;
  bottom: 15.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.review1,
.stars1 {
  position: absolute;
  left: 0;
  height: 1.19rem;
}
.stars1 {
  top: 0;
  width: 3.38rem;
  color: var(--color-darkslategray-300);
}
.review1 {
  top: 3.56rem;
  width: 12.67rem;
  color: var(--color-cornflowerblue-200);
}
.result {
  flex: 1;
  position: relative;
  height: 4.75rem;
}
.results-title1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.night1,
.s-198 {
  position: absolute;
  letter-spacing: 0.02em;
}
.s-198 {
  top: 0;
  left: 0;
  text-transform: capitalize;
}
.night1 {
  top: 0.5rem;
  left: 4.56rem;
  font-size: var(--font-size-xs);
}
.pricing1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 7rem;
  height: 1.63rem;
}
.view-details-button-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-cornflowerblue-200);
}
.search-flights1 {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 54.5px);
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.view-details-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 2.35rem;
  left: 0.03rem;
  width: 10.25rem;
  height: 2.88rem;
}
.price-and-cta1 {
  position: relative;
  width: 10.28rem;
  height: 5.22rem;
  font-size: var(--font-size-3xl);
}
.results-card1,
.results-details1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.results-details1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-6xs) var(--padding-4xs) 0;
  gap: var(--gap-6xl);
}
.results-card1 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--color-cornflowerblue-400);
  flex-direction: row;
  gap: var(--gap-md);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-300);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 650px) {
  .results-image-icon1 {
    width: 100% !important;
    border-radius: 10px !important;
  }
  .results-details1 {
    padding: var(--padding-4xs);
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .results-card1 {
    flex-direction: column;
  }
}
